{
  "printWidth": 80,
  "arrowParens": "avoid",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "semi": true,
  "tabWidth": 4,
  "trailingComma": "es5",
  "useTabs": false
}

